/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

input {
	border-radius: 5px;
	/*padding: 5px;*/
}

li input {
	border-color: #92b6dc;
}

.newlogin {
	text-align: left;
	border: 1px solid blue;
	display: block;

}

#newloginform {
	text-align: center;
	/*border: 2px solid blue;*/
    box-shadow: 4px 5px 8px 3px #92b6dc;
	margin: 0 auto;
	margin-top: 10%;
	display: block;
	padding: 2%;
	width: 40%;
	height: 55%;
	border-radius: 5px;

}

.loginsubmit {
	border-radius: 5px;
}

#username {
	border-radius: 5px;
	border-color:#92b6dc;
}
#password {
	border-radius: 5px;
	border-color:#92b6dc;
}

.errors {
	color: red;
}

.welcome {
	text-align: center;
/*    box-shadow: 4px 5px 8px 3px #92b6dc;
*/	margin: 0 auto;
	/*margin-top: 10%;*/
	display: block;
	padding: 2%;
	font-family: helvetica;
	border-bottom: 1px solid #92b6dc;
}


#logoutbutton {
	display: block;
	position: fixed;
	right: 10px;
	top: 5px;
	height: 5%;

}

.navbar {
	/*height: 15px;*/

	background-color: #92b6dc;
}

#newpostbutton {
	font-size: 12px;
	float: top;
}

#newpost {
	padding: 2%;
}

#timeofpost {
	font-size: 9px;
}

#post_content {
	height: 200px;
	width: 300px;
	border-radius: 5px;
}

#post_title {
	border-radius: 5px;
	vertical-align: middle;
	height: 25px;
}

#editdelete {
	display: inline-block;

}

#comment_content {
	display: inline-block;
	border-radius: 5px;
	height: 25px;
	width: 40%;
	vertical-align: middle;
}

.hoverWrapper {
	display: inline-block;
	width: wrap;
}

.hoverWrapper:hover #showlikes {
 display: block;
 width: 100px;
}

.hoverWrapper #showlikes {
 display: none;
 position: relative;
 border-radius: 5px;
 width: 250px;
 /*height: 250px;*/
 /*left: 200px;*/
 /*top: 100px;*/
}

.basicforpadding {
	padding: 2%;
}

#postcontent {
	display: inline-block;
	padding: 1%;
	border-radius: 5px;
	border: 1px solid #92b6dc;
	width:wrap;
}
